.profile-pic{
  max-width:300px;
  border-radius:50%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  z-index: 10;
  top:140px;
  left:80px;
  right:auto;
  position: absolute;
}

.user-banner{
  position: relative;
  height: 200px;
  background:linear-gradient(-20deg,#2663f9 45%,#99b8ff 0);

    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(-20deg, rgb(38, 99, 249) 45%, rgb(153, 184, 255) 0px);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.intro{
  font-size: 2rem;
  left: 400px;
  position: absolute;
}
