/* for desktop */
@media screen and (min-width: 600px){
  .cover{
    background-image: linear-gradient(-20deg, #0f329b 45%, #58c3d8 0);
    height:150px;
  }

  .profile-pic{
    border-radius: 50%;
    max-width: 200px;
    display: block;
    position: relative;
    top:-30px;

  }

  .intro-flex{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 212px;
    padding: 10px;
  }

  .intro-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  .intro-desc > div{
    width:700px;
  }
  .user-name{
    font-size: 2em;
    font-weight: bold;
  }

  .user-detail{
    padding-top: 5px;
  }
  hr{
    border-width: medium;
    border-color: black;
    display: block;
  }

}
/* for mobile*/
@media screen and (max-width: 600px){

}
